@font-face {
    font-family: text-0;
    src: url(font/static/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: text-1;
    src: url(font/Lovelo\ Black.otf);
}
@font-face {
    font-family: text-2;
    src: url(font/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
    font-family: text-3;
    src: url(font/Amsterdam.ttf);
}
:root{
    
    --green-0:#8fdd53;
    --green-1:#4b8d58;
    --green-2:#f0fde6b6;
    --green-3:#035212;
    --green-4:#518246;
    --white-0:#efefef;
    --white-1:
}







*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    height: auto;
    width: 100%;
}


#content{
    padding-top: 6rem;
}


/* pag 1 */

.main_one{
    
    background-color: var(--green-2);
    width: 100%;
    height:52rem;
    display: flex;
}

.box_one{
    
    width: 50%;
    height: 100%;
}
.container_left{
    background-color: var(--green-2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_right{
    background-image: url(img/img_main_one.avif);
    background-size: cover;
    background-position: center;
}
.box_main_one_text{
    width: 95%;
    height: 90%;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    border-right: 1rem dotted var(--green-1); 
    
}
.default_text_title{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}


.sub_top_title_text{
    font-size:2.5em ;
    font-family:text-3;
    letter-spacing: 8px;
    color: var(--green-1);
    text-align: center;
}


.title_text{
    width: 100%;
}
.title_text h1{
    font-size:7em ;
    font-family:text-1;
    color: var(--green-0);
    text-align: center;
    
   
}
.title_text h2{
    font-size:3.3em ;
    font-family:text-2;
    color: var(--green-1);
    text-align: center;
}

.sub_low_title_text p{
    font-size:2em ;
    font-family:text-2;
    color: var(--green-1);
    text-align: center;
  
}

.sub_low_title_text a{
    margin-top: 2rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    

    font-size: 2em;
    font-family: text-0;
    text-decoration: none;
    color: white;

    width: 35%;
    height: 3rem;
    background-color: var(--green-0);
    border-radius: 2rem;

    transition: 2s;
}
.sub_low_title_text a:hover{
    background-color: var(--green-2);
    color: var(--green-0);
    border: 2px solid var(--green-0);
    transition: 0.5s;
}





/* page 2 */

.main_two{
    height: 56rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--green-1);
}
.container_left_two{
    
    height: 90%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_mid_two{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90%;
    width: 30%;
    
}
.container_right_two{
    display: flex;
    justify-content: center;
    align-items: center;

    
    height: 90%;
    width: 25%;

    border-bottom: 1rem dotted var(--green-0);
}

.img_main_two_left{
    background-image: url(img/img_main_two_left.avif);

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 1px 1px 40px rgba(88, 88, 88, 0.445);

    border-radius: 3px;

    height: 90%;
    width: 80%;
}
.box_text_two_mid{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.box_text_two_mid h3{
    font-family: text-1;
    color: var(--green-0);
    text-align: left;
    font-size: 2.8em;
    letter-spacing: 2px;
    width: 130%;
   
}
.material-symbols-outlined{
    color: var(--green-3);
   
}
.box_text_two_mid h2{
    font-family: text-2;
    color: var(--green-2);
    font-size: 1.8em;
    text-align: left;
}
.title_main_two{
    font-family: text-1;
}

.img_main_two_right{
    background-image: url(img/img_main_two_right.avif);

    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 3px;
    

    box-shadow: 1px 1px 40px rgba(88, 88, 88, 0.445);

    height: 65%;
    width: 90%;
}


/* PAGE 3 */

.main_three{
    height: 45rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url(img/img_main_three.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.container_left_three{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.box_text_left_three{
    width: 70%;
    height: 50%;
}
.box_text_left_three h1{
    color: white;
    font-size: 4em;
}













.container_right_three{
    width: 60%;
    height: 100%;
    
    
}























.main_four{
    height: 10rem;
    width: 100%;
}