@media screen and (max-width:1444px) {
    .title_text h1{
        font-size:6em;
    }
    .title_text h2{
        font-size:3em ;
    }
    #content{
        padding-top: 5rem;
    } 
    .main_one{
        height: 50rem;
    }

}

@media screen and (max-width:1366px) {
    .box_main_one_text{
        gap: 4rem;
    }
    .main_one{
        height: 39rem;
    }
}
@media screen and (max-width:1280px) {
    .title_text h1{
        font-size:5.4em;
    }
    .title_text h2{
        font-size:2.4em ;
    }
    .sub_low_title_text p{
        font-size:1.8em ;
    }

   
}


@media screen and (max-width:1120px) {

    .sub_top_title_text{
        font-size:2.2em ;
    }
    .title_text h1{
        font-size:4.8em;
    }
    .title_text h2{
        font-size:2.4em ;
    }
    .sub_low_title_text a{
        font-size: 1.5em;
    }
    
}

@media screen and (max-width:1024px) {

    .sub_top_title_text{
        font-size:2em ;
    }
    .title_text h1{
        font-size:4em;
    }
    .title_text h2{
        font-size:2em ;
    }
    .sub_low_title_text p{
        font-size:1.6em ;
    }
    .sub_low_title_text a{
        font-size: 1.2em;
    }
    
}
@media screen and (max-width:870px) {
    .sub_top_title_text{
        font-size:1.7em ;
    }
    .title_text h1{
        font-size:3.7em;
    }
    .title_text h2{
        font-size:1.8em ;
    }
    .sub_low_title_text p{
        font-size:1.4em ;
    }
    .sub_low_title_text a{
        font-size: 1em;
    }

}

@media screen and (max-width:768px) {
    .main_one{
        flex-direction: column;
        height: 55rem;
    }
    .box_one{
        width: 100%;
        margin-top: 0;
    }


    .container_left{
        height: 60%;
    }
    .container_right{
        height: 40%;
    }


    .box_main_one_text{
       
        gap: 1.2rem;
        border-right: none; 
        border-bottom: 1rem dotted var(--green-1); 
        padding-bottom: 3rem;
    }
    .sub_low_title_text a{
        margin-top: 2rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width:500px) {
    #content{
        padding-top: 5rem;
    }
    
    .box_main_one_text{
        gap: 2.5rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width:380px) {
    .box_main_one_text{
        width: 100%;
    }
    .main_one{
    height: 52rem;
    }

    .title_text h1{
        font-size:3.5em;
    }
    .title_text h2{
        font-size:1.6em ;
    }
    .sub_low_title_text p{
        font-size:1.2em ;
    }

}
@media screen and (max-width:345px) {
    .sub_top_title_text{
        font-size:1.5em ;
    }
        .title_text h1{
            font-size:3.2em;
        }
        .title_text h2{
            font-size:1.4em ;
        }
        .sub_low_title_text p{
            font-size:1.1em ;
        }

}

@media screen and (max-width:315px) {
    .sub_top_title_text{
        font-size:1.3em ;
    }
        .title_text h1{
            font-size:3em;
        }
        .title_text h2{
            font-size:1.2em ;
        }
        .sub_low_title_text p{
            font-size:1em ;
        }

}
@media screen and (max-width:300px) {
    .sub_top_title_text{
        font-size:1.1em ;
    }
        .title_text h1{
            font-size:2.7em;
        }
        .title_text h2{
            font-size:1em ;
        }
        .sub_low_title_text p{
            font-size:1em ;
        }

}
@media screen and (max-width:260px) {
    .sub_top_title_text{
        font-size:1.1em ;
    }
        .title_text h1{
            font-size:2.3em;
        }
        .title_text h2{
            font-size:1em ;
        }
}






/* page 2 */

@media screen and (max-width:1600px){
    .box_text_two_mid h3{
        font-size: 2.8em;
        width: 150%;
    }

    .box_text_two_mid h2{
        font-size: 1.5em;
    }
} 
@media screen and (max-width:1444px){
    .box_text_two_mid h3{
        font-size: 2.6em;
        width: 150%;
    }

    .box_text_two_mid h2{
        font-size: 1.5em;
    }
    .img_main_two_right{
    height: 60%;

    }

} 
@media screen and (max-width:1366px){
    .box_text_two_mid h3{
        font-size: 2.5em;
       
    }

    .box_text_two_mid h2{
        font-size: 1.3em;
    }
    .main_two{
        height: 43rem;
    }

}
@media screen and (max-width:1280px){
    .box_text_two_mid h3{
        font-size: 2em;

    }

    .box_text_two_mid h2{
        font-size: 1.2em;
    }


} 

@media screen and (max-width:834px){

    .container_right_two{
        display: none;
    }

    .container_left_two{

        width: 60%;
    }

    .container_mid_two{
        width: 40%;
    }
    .box_text_two_mid h3{
        width: 100%;
    }
    .box_text_two_mid h2{
        font-size: 1.3em;
    }
    .img_main_two_left{
        width: 90%;
    }
}

@media screen and (max-width:775px){
    .box_text_two_mid h3{
        width: 100%;
        font-size: 1.5em;
    }
    .container_left_two{

        display: none;
    }
    .container_mid_two{
        width: 85%;
        border-bottom: 1rem dotted var(--green-0);
        
    }
    .main_two{
        height: 38rem;
    }
}
@media screen and (max-width:730px){
 .main_two{
        height: 40rem;
    }
}
@media screen and (max-width:700px){
 .main_two{
        height: 44rem;
    }
}
@media screen and (max-width:420px){

    .main_two{
        height: 50rem;
        
    }
    .container_mid_two{
        width: 99%;
        padding-left: 2%;
    }
}
@media screen and (max-width:385px){

    .main_two{
        height: 42rem;

    }
    .box_text_two_mid{
        gap: 2.5rem;
    }
    .box_text_two_mid h2{
   font-size: 1.3em;
}
    
} 
@media screen and (max-width:375px){

    .main_two{
        height: 48rem;
    }
}
   
@media screen and (max-width:365px){

    .main_two{
        height: 45rem;
    }
}
@media screen and (max-width:360px){

    .main_two{
        height: 47rem;
    }
}
@media screen and (max-width:345px){
.box_text_two_mid h3{
   font-size: 1.6em;
}

.main_two{
    height: 50rem;
}

}
@media screen and (max-width:335px){
    .box_text_two_mid h3{
        font-size: 1.4em;
     }
     .box_text_two_mid h2{
         font-size: 1em;
     
     } 
    .main_two{
        height: 41rem;
    }
}
@media screen and (max-width:300px){
    
    .main_two{
        height: 41rem;
    }
}
@media screen and (max-width:275px){
    
    .main_two{
        height: 48rem;
    }
}



/* page 3 */

@media screen and (max-width:1444px){

    .main_three{
        height: 41rem;
    }

    .box_text_left_three h1{
        font-size: 3.2em;
    }
    .box_text_right_three h2{
    font-size: 1.7em;
    }
   
}
@media screen and (max-width:1366px){

    .main_three{
        height: 38rem;
    }

    .box_text_left_three h1{
        font-size: 3.2em;
    }
    .box_text_right_three h2{
    font-size: 1.6em;
    }
   
}
@media screen and (max-width:1280px){

    .main_three{
        height: 36rem;
    }

    .box_text_left_three h1{
        font-size: 3.1em;
    }
    .box_text_right_three h2{
    font-size: 1.5em;
    }
   
}

@media screen and (max-width:1024px){

    .main_three{
        height: 34rem;
    }

    .box_text_left_three h1{
        font-size: 2.8em;
    }
    .box_text_right_three h2{
    font-size: 1.3em;
    }
   
}
@media screen and (max-width:834px){

    .main_three{
        height: 34rem;
    }

    .box_text_left_three h1{
        font-size: 2.4em;
    }
    .box_text_right_three h2{
    font-size: 1.2em;
    }
   
}

@media screen and (max-width:768px){

    .main_three{
        height: 44rem;
        flex-direction: column;
    }

    .box_text_left_three h1{
        font-size: 2.4em;
        border-right: 0;
    }
    .box_text_right_three h2{
    font-size: 1.5em;
    }
    .container_left_three, .container_right_three{
        width: 100%;
        height:100%
    }
    .box_text_right_three{
        align-items: flex-start;
        padding: 5% 2%;
        width: 100%;
    }
}
@media screen and (max-width:725px){

    .main_three{
        height: 50rem;

    }
}
@media screen and (max-width:688px){

    .main_three{
        height: 47rem;
    }

    .box_text_left_three h1{
        font-size: 2.2em;
    }
    .box_text_right_three h2{
        font-size: 1.4em;
    }
  
 
}
@media screen and (max-width:425px){

    .main_three{
        height: 48rem;
        background-attachment: unset;
    }

    .box_text_left_three h1{
        font-size: 2.1em;
    }
    .box_text_right_three h2{
        font-size: 1.3em;
    }.box_text_right_three{
        gap: 2rem;
    }.box_text_left_three h1{
        padding-bottom: 0px;
        padding-top: 10%;
        
    }
    .container_left_three{
        height: 30%;
    }
    .box_text_right_three{
        align-items: flex-start;
        padding: 0;

        padding-left: 2%;
        padding-bottom: 7%;
    }
    .container_right_three{
        height: 100%;
       align-items: flex-start;
    }
  
 
}
@media screen and (max-width:390px){

    .main_three{
        height: 48rem;
        
    }

    .box_text_left_three h1{
        font-size: 1.9em;
    }
    .box_text_right_three h2{
        font-size: 1.2em;
    }
  
 
}
@media screen and (max-width:350px){

    .main_three{
        height: 41rem;
        flex-direction: column;
    }

    .box_text_left_three h1{
        font-size: 1.8em;
    }
    .box_text_right_three h2{
        font-size: 1.1em;
    }
  
 
}